nav {
  background: #111827;
  color: white;
  flex-direction: row;
}

.headerInfo {
  display: flex;
  justify-content: flex-start;
}

.headerInput {
  display: flex;
  justify-content: center;
}

.headerRight {
  display: flex;
  justify-content: flex-end;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #111827;
  color: white;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.copyRight {
  margin-top: 15px;
  margin-left: 20px;
}

.footer-icons {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.footer-notes {
  margin-right: 20px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

p {
  text-indent: 0.8em;
}

/* pages */
.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
  text-align: center;
}

.s-heading {
  margin: 0 auto;
}

.modal-button {
  display: flex;
  justify-content: center;
}

.form {
  width: 55%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

@media (max-width: 580px) {
  footer {
    display: flex;
    flex-direction: column;
    height: 140px;
    text-align: center;
  }

  .footer-icons {
    /* margin-top: 20px;
    margin-left: 20px; */
    margin: auto;
    padding: 10px;
  }

  .footer-notes {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
}

.productsBg {
  background-color: red;
}
/*-----Products--------*/

.productsHeader {
  position: absolute;
  width: 1193px;
  height: 44px;
  left: 60px;
  top: 128px;
  /* Typography/H4 */

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 137.5%;
  /* identical to box height, or 44px */

  letter-spacing: 0px;
  text-align: left;
}

.productsTypo {
  /* Products */

  position: absolute;
  width: 1193px;
  height: 44px;
  left: 60px;
  top: 128px;

  /* Typography/H4 */

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 137.5%;
  /* identical to box height, or 44px */

  /* Text/Primary */

  color: #111827;
}

.selectPrice {
  /* BG */

  box-sizing: border-box;

  position: absolute;
  width: 179px;
  height: 40px;
  left: 1065px;
  top: 132px;

  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.addProductBtn {
  /* BG */

  position: absolute;
  width: 133px;
  height: 40px;
  left: 1254px;
  top: 132px;

  background: #5048e5;
  border-radius: 4px;

  height: 40px;
  width: 133px;
  left: 1254px;
  top: 132px;
  border-radius: 4px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 137.5%;
  /* or 19px */

  color: #ffffff;
}

.productsContainer {
  /* Rectangle 3 */

  position: absolute;
  width: 1323px;
  height: 682px;
  left: 60px;
  top: 196px;

  background: #ffffff;
  border-radius: 4px;
}

/*-----Product--------*/

.card-item {
  box-sizing: border-box;

  position: absolute;
  width: 242px;
  height: 303px;

  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.card-img {
  position: absolute;
  width: 218px;
  height: 198px;

  background: #c4c4c4;
}

.card-title {
  position: absolute;
  width: 191px;
  height: 21px;
  left: 91px;
  top: 437px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  display: flex;
  align-items: center;

  color: #6b7280;
}
